{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Host=db;Port=5432;Database=Event_Managment_Db;Username=postgres;Password=your_db_password_here"
  },
  "JwtOptions": {
    "SecretKey": "your_jwt_secret_here",
    "ExpiresHours": 12,
    "Issuer": "EventManagementAPI",
    "Audience": "EventManagementClient"
  },
  "AllowedHosts": "*"
}

